.header {
  background-color: black;
}

.header .logo {
  width: 80px;
  height: 80px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  margin: 0 0 0 10px;
}

.navigation {
  margin: 0 0 0 75%;
}

.navigation .menu {
  background: #000;
  color: #fff;
  display: inline-block;
  font-weight: bold;
}

.navigation .menu:hover {
  background: #fff;
  color: #000;
  cursor: pointer;
}
